main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10em;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding-top: 4em;
  width: 75%;
}