.bookmarks {
  width: 40%;
}

.list {
  padding: 0;
}

.element {
  padding: 1em 0 0 1em;
  height: 2em;
  border-bottom: solid 1px #cecece;
  cursor: pointer;
  list-style-type: none;
  transition: all 0.4s ease-out;
}

.element:hover {
  transition: all 0.6s ease-out;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.15);
}